{% block stylesheets %}
            <link href="../../src/views/css/combat.css" type="text/css" rel="stylesheet" />
        {% endblock %}
{% block content %}

    <div class="bagarre">
        <div class="pers combattant">
        <div class="image">
                <img  id="personnage" src={{personnage.photo}}>
        </div>
            <div class="vie">
                <p id="vie_personnage">{{monstre.vie}}/{{monstre.vie}}</p>
            </div>
        </div>
        <h1> VS </h1>
        <div class="mons combattant">
            <div class="image">
                <img  id="monstre" src={{monstre.photo}}>
            <div class="vie">
                <p id="vie_monstre">{{monstre.vie}}/{{monstre.vie}}</p>
            </div>
        </div>
    </div>

    <div class="log">
        <p>
        </p>
    </div>



{% endblock  %}