{% extends 'layout.html.twig' %}

        {% block stylesheets %}
            <link href="../../src/views/css/main.css" type="text/css" rel="stylesheet" />
        {% endblock %}

{% block content %}

Voici les personnages qui sont dans la base de donnée : </br>



<div class="container">
    {% for perso in personnages %}
<form action="{{ path_for('supprimer')}}" method="post">
    <div class="case"> Nom : {{ perso.nom}} </br>
    Prenom : {{perso.prenom}} </br>
    <a href="{{ path_for('detail', { 'id': perso.id }) }}" > En savoir plus </a>
  </br>
    <a href="{{ path_for('modifier', { 'id': perso.id }) }}" > Le modifier </a>
  </br>
  <img src={{perso.photo}} alt="Dora" width="100" height="100">
    </br>
    <input type="hidden" name="id" id="id" value="{{perso.id}}">
    <button type="submit"> Supprimer </button>

   </div>
 </form>

    {% endfor %}
</div>
Voici les monstres qui sont dans la base de donnée : </br>
    <div class="container2">
    {% for monstre in monstres %}
<form action="{{ path_for('supprimer')}}" method="post">
    <div class="case"> Nom : {{ monstre.nom}} </br>
    <a href="{{ path_for('detail', { 'id': monstre.id }) }}" > En savoir plus </a>
  </br>
    <a href="{{ path_for('modifier', { 'id': monstre.id }) }}" > Le modifier </a>
  </br>
  <img src="../../img/totor.jpeg" alt="Dora" width="100" height="100">
  </br>
    <input type="hidden" name="id" id="id" value="{{monstre.id}}">
    <button type="submit"> Supprimer </button>

   </div>
 </form>

    {% endfor %}
</div>

{% endblock %}
