
  {% block stylesheets %}
            <script type="text/javascript" src="../../src/views/js/combat.js"></script>
            <link href="../../src/views/css/pick.css" type="text/css" rel="stylesheet" />

        {% endblock %}
{% block content %}

<div class="block">
<div class="personnage">
  <div class="tab">  <h1> PERSONNAGES </h1> </div>
            {% for perso in personnages %}
            <div class="card-image">
            <img class="image" src={{perso.photo}} alt="Personnage" >
             </br>
                <span class="card-title">{{perso.nom}}</span>
                </br>
       <input class="favorite styled "   type="button" name="perso"  value="Détail" id="btnoverlay"  onClick="on({{perso}})">
			 <input class="favorite styled "   type="button" name="perso"  value="Le jouer" id="perso{{perso.id}}"  onClick="test({{perso.id}})">
       <input type="hidden" id="perso">
                             </div>
                              <div id="overlay" onclick="off()">
                          
                                    </div>  
                           {% endfor %}
        
    </div>

<div class="monstre">
   <div class="tab">  <h1> MONSTRES</h1> </div>
             {% for monstre in monstres %}
             <div class="card-image">
            <img class="image" src={{monstre.photo}} alt="Monstre" >
             </br>
              <span class="card-title">{{monstre.nom}}</span>
              </br>
        <input class="favorite styled "   type="button" name="perso"  value="Détail" id="perso{{monstre.id}}" onClick="onm({{monstre}})">
				 <input class="favorite styled " type="button"  value="Le combattre" name="monstre" id="monstre{{monstre.id}}" onClick="testm({{monstre.id}})">
         <input type="hidden" id="monstre">
              </div>
                   <div id="overlaym" onclick="offm()">
                          
                                    </div>  
                            {% endfor %}
        
    </div>
    </div>

        
<script>
function on(id) {
document.getElementById("overlay").innerHTML="";
   let p = document.getElementById("perso")
 
  let doc = document.getElementById("overlay");
  let text =  document.createElement("div");
  text.className="txt";
    let x = document.createElement("IMG");
  x.setAttribute("src", id.photo);
  x.setAttribute("width", "70%");
  x.setAttribute("height", "100%");
  x.setAttribute("alt", id.prenom);
 doc.appendChild(x);
  text.append("Prenom :" + id.prenom);
   text.appendChild( document.createElement("br"));
  text.append(" Nom :" +id.nom);
   text.appendChild( document.createElement("br"));
     text.append("Taille : "+ id.taille);
   text.appendChild( document.createElement("br"));
     text.append("Vie : " + id.vie);
   text.appendChild( document.createElement("br"));
     text.append("Attaque :" + id.attaque);
   text.appendChild( document.createElement("br"));
     text.append("Défense : " +id.defense);
   text.appendChild( document.createElement("br"));
     text.append("Agilité : " + id.agilite);
   text.appendChild( document.createElement("br"));
 doc.appendChild( text);
  doc.style.display = "block";
}

function off() {
  document.getElementById("overlay").style.display = "none";
    document.getElementById("overlay").innerHTML="";
}
function onm(id) {
 document.getElementById("overlaym").innerHTML="";
 let doc = document.getElementById("overlaym");
  let text =  document.createElement("div");
  text.className="txt";
    let x = document.createElement("IMG");
  x.setAttribute("src", id.photo);
  x.setAttribute("width", "70%");
  x.setAttribute("height", "100%");
  x.setAttribute("alt", id.nom);
 doc.appendChild(x);
  text.append(" Nom :" +id.nom);
   text.appendChild( document.createElement("br"));
     text.append("Taille : "+ id.taille);
   text.appendChild( document.createElement("br"));
     text.append("Vie : " + id.vie);
   text.appendChild( document.createElement("br"));
     text.append("Attaque :" + id.attaque);
   text.appendChild( document.createElement("br"));
     text.append("Défense : " +id.defense);
   text.appendChild( document.createElement("br"));
     text.append("Agilité : " + id.agilite);
   text.appendChild( document.createElement("br"));
 doc.appendChild( text);
  doc.style.display = "block";
  
}

function offm() {
  document.getElementById("overlaym").style.display = "none";
}



</script>
{% endblock  %}
