<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        {% block stylesheets %}
          <link href="../../src/views/css/layout.css" type="text/css" rel="stylesheet" />
        {% endblock %}
            <title>{% block title %}{% endblock %} Dora </title>
        {% endblock %}
    </head>
    <body>

      <div id="header">
        {% block header %}
        <ul class="topnav">
          <li><a class="active" href="{{ path_for('home')}}">Home</a></li>
          <li><a href="{{ path_for('creation')}}">Créer un nouveau personnage</a></li>
          <li><a href="{{ path_for('liste')}}">Voir tous les personnages</a></li>
          <li class="right"><a href="{{ path_for('connexion')}}">Connexion</a></li>
          <li><a href="{{ path_for('monstres')}}">Créer un nouveau monstre</a></li>          
        </ul>
        {% endblock %}
      </div> 

        <div id="content">{% block content %}{% endblock %}</div>

        <div id="footer">
            {% block footer %}
                Site crée par ...
                &copy; Copyright (FOOTER)</a>.
            {% endblock %}
        </div>
    </body>
</html>
