{% extends 'layout.html.twig' %}

{% block content %}

<label for "nom"> ID :</label>
{{personnages.id}}
</br>
<label for "nom"> Nom : </label>
{{personnages.nom}}
</br>
<label for "nom"> Prenom :</label>
{{personnages.prenom}}
</br>
<label for "nom"> Attaque :</label>
{{personnages.attaque}}
</br>
<label for "nom"> Agilite :</label>
{{personnages.agilite}}
</br>
<label for "nom"> Vie :</label>
{{personnages.vie}}
</br>
<label for "nom"> Defense :</label>
{{personnages.defense}}


<br/>


{% endblock  %}
